<body class="Site">
  <header>…</header>
  <main class="Site-content">
  <p>{{quote.text}}</p>
<img src="Vonnegut.jpg"/>
<p>{{quote.author}}</p>

  </main>
  <footer>
      <button {{action 'nextQuote'}}>Next</button>
      </footer>
</body>
